.section01-container {
	height: 350px;
	min-width: 950px;
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
/*     border: 1px solid blue; */
}

.section01-box {
	border: 1px solid #eee;
	height: 350px;
	width: 1000px;
	min-width: 1000px;
}


.section01-img {
	height: 100%;
	width: 1000px;
	min-width: 1000px;
}
