.productList-container {
	height: 330px;
    border: 1px solid black;
}

.prodList-title {
	height: 5px;
	margin: 10px 10px 20px 30px;
}

.prodList-title h3 {
	float: left;
	color: 'red';
}

.prodList-title > span {
	float: right;
	
}

.prod-total {
	height: 295px;
	display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.prod-box {
	height: 250px;
	width: 200px;
	border: 1px solid black;
	text-align: center;
	background-color: lightblue;
	margin: 10px auto;
	
}

.prod-box img {
	height: 180px;
	width: 150px;
	margin: 10px auto;
}


