.productList-container {
	height: 330px;
	margin: 70px 20px;
/*     border: 1px solid black; */
}
.prodList-title {
	height: 30px;
	padding: 0px 20px;
	margin: 30px 0px 0px 10px;
    border-bottom: 1px solid black;
}
.prodList-title h3 {
	float: left;
}
.prodList-title > span {
	float: right;
	
}

.prod-total {
	height: 300px;
	min-width: 1300px;
	display: flex;
    align-items: center;
    justify-content: center;
/*     border: 1px solid black; */
}

.prod-box {
	height: 260px;
	width: 210px;
	border: 1px solid #D5D5D5;
	text-align: center;
	background-color: lightblue;
	margin: 10px auto;
}

.prod-box img {
	height: 180px;
	width: 180px;
	margin: 10px auto;
}


