@CHARSET "UTF-8";

ul li {
	list-style: none;
	box-sizing: border-box;
	cursor: pointer;
	float : left;
	text-align: center;
	margin: auto 5px;	
	
}    


.header_top {
  height: 35px;
  background: none repeat scroll 0 0 #F0F0E9;
}

.top_left {
	float: left;
	margin-left: 20px;
}

.top_li_nav {
	float: left;
	margin-right: 50px;
	line-height: 35px;
}

.header_top a {
	line-height: 20px;
	text-decoration: none;
	color: black;
	margin-right: 15px;
}


.fa-facebook:hover {
  background: #0083C9;
}

.fa-twitter:hover  {
	background:#5BBCEC;
}


.top_right {
	float: right;
	margin-right: 20px;
}



/* ---------------top-middle.jsp--------------- */

.header-middle {
	height: 80px;
	border-bottom: 1 solid black;

}

.topMiddle_left {
	float: left;
/* 	margin-left: 20px; */
	height: 80px;
	display: block;
}

.topMiddle_left img{
	float: left;
}

.topMiddle_right {
	float: right;
	margin-right: 20px;
}



/* ---------------top-bottom.jsp--------------- */

.header-bottom {
	padding-bottom: 30px;
    padding-top: 30px;
}










.usa {
  border-radius: 0;
  color: #B4B1AB;
  font-size: 12px;
  margin-right: 20px;
  padding: 2px 15px;
  margin-top: 10px;
}

.usa:hover {
	background:#FE980F;
	color:#fff;
	border-color:#FE980F;
}

.usa:active, .usa.active {
  background: none repeat scroll 0 0 #FE980F;
  box-shadow: inherit;
  outline: 0 none;
}

.btn-group.open .dropdown-toggle {
  background: rgba(0, 0, 0, 0);
  box-shadow: none;
}

.dropdown-menu  li  a:hover, .dropdown-menu  li  a:focus {
  background-color: #FE980F;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}


.shop-menu ul li {
	display:inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.shop-menu ul li:last-child {
  padding-right: 0;
}


.shop-menu ul li a {
  background: #FFFFFF;
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding:0;
  padding-right: 0;
  margin-top: 10px;
}


.shop-menu ul li a i{
	margin-right:3px;
}


.shop-menu ul li a:hover {
	color:#fe980f;
	background:#fff;
}


.header-bottom {
  padding-bottom: 30px;
  padding-top: 30px;
}

.navbar-collapse.collapse{
  padding-left: 0;
}

.mainmenu ul li{
  padding-right: 15px;
  padding-left: 15px;
}

.mainmenu ul li:first-child{
  padding-left: 0px;
}

.mainmenu ul li a {
	color: #696763;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	font-weight: 300;
	padding: 0;
	padding-bottom: 10px;
}

.mainmenu ul li a:hover, .mainmenu ul li a.active,  .shop-menu ul li a.active{
	background:none;
	color:#fdb45e;
}

.search_box input {
  background: #F0F0E9;
  border: medium none;
  color: #B2B2B2;
  font-family: 'roboto';
  font-size: 12px;
  font-weight: 300;
  height: 35px;
  outline: medium none;
  padding-left: 10px;
  width: 155px;
  background-image: url(../images/home/searchicon.png);
  background-repeat: no-repeat;
  background-position: 130px;
}