@CHARSET "UTF-8";

ul li {
	list-style: none;
	box-sizing: border-box;
	cursor: pointer;
	float : left;
	text-align: center;
	margin: auto 5px;	
}    

a {
	text-decoration: none;
	color: black;
}


.header_top {
  height: 35px;
  background: none repeat scroll 0 0 #F0F0E9;
}

.top_left {
	float: left;
	margin-left: 20px;
}

.top_li_nav {
	float: left;
	margin-right: 50px;
	line-height: 35px;
}

.header_top a {
	line-height: 20px;
	margin-right: 15px;
}


.fa-facebook:hover {
  background: #0083C9;
}

.fa-twitter:hover  {
	background:#5BBCEC;
}


.top_right {
	float: right;
	margin-right: 20px;
}



/* ---------------top-middle.jsp--------------- */

.header-middle {
	height: 80px;
/* 	border: 1px solid black; */
	border-bottom: 1px solid #999;
	background: none repeat scroll 0 0 #fff;

}


.topMiddle_left {
	float: left;
	margin-left: 20px;
	height: 80px;
	width: 200px;
/* 	border: 1px solid black; */
}

.topMiddle_left img {
	width: 160px;
	height: 55px;
	margin: 10px 100px;
}


.topMiddle_right {
	float: right;
	margin-right: 130px;
/* 	border: 1px solid black; */
}

.topMiddle_right ul li a{
	display: inline-block;
	font-size: 17px;
	font-weight: 500;
	margin-left: 25px;
	margin-top: 50px;	
}

.topMiddle_right ul li a:hover {
	color: orange;
}

.nav-search-box {
	float: right;;
}

.nav-search-box input{
	width: 110px;
	padding: 5px 5px;
	margin-top: 45px;
}

/* .nav-search-box { */
/* 	float: right; */
/* 	background: #F0F0E9; */
/*     border: medium none; */
/*     color: #B2B2B2; */
/*     font-family: 'roboto'; */
/*     font-size: 12px; */
/*     font-weight: 300; */
/*     height: 35px; */
/*     outline: medium none; */
/*     padding-left: 10px; */
/*     width: 155px; */
/*     background-image: url(../images/home/searchicon.png); */
/*     background-repeat: no-repeat; */
/*     background-position: 130px; */
/*     line-height: inherit; */
/* } */




/* ---------------top-bottom.jsp--------------- */

.header_bottom{
	height: 80px;
	border-bottom: 1px solid #999;
	display: flex;
    align-items: center;
    justify-content: center;
}

 
.cate-list li {
	height: 50px;
	width: 110px;
	border: 1px solid black;
	line-height: 50px;
	margin: auto 20px;
}

.dropdown {
  position : relative;
  display : block-inline;
}

.dropdown-box {
  display : none;
  position : absolute;
  z-index : 1; /*다른 요소들보다 앞에 배치*/
  font-weight: 400;
  background-color: #f9f9f9;
  min-width : 110px;
}

.dropdown-box a {
  display : block;
  text-decoration : none;
  color : rgb(37, 37, 37);
  font-size: 12px;
  height: 40px;
  line-height: 40px;
}


.dropdown-box a:hover{
  background-color : #ececec
}

.dropdown:hover .dropdown-box {
  display: block;
}



