/* ---------------category.jsp--------------- */

.header_bottom{
	height: 40px;
	min-width: 1500px;
	border-bottom: 1px solid #999;
	display: flex;
    align-items: center;
    justify-content: center;
}

 
.cate-list li {
	height: 30px;
	width: 90px;
/* 	border: 1px solid black; */
	line-height: 30px;
}

.dropdown {
  position : relative;
  display : block-inline;
}

.dropdown-box {
  display : none;
  position : absolute;
  z-index : 1; /*다른 요소들보다 앞에 배치*/
  font-weight: 400;
/*   background-color: #f9f9f9; */
  background-color: #F0F0E9;
  min-width : 100px;
}

.dropdown-box a {
  display : block;
  text-decoration : none;
  color : rgb(37, 37, 37);
  font-size: 12px;
  height: 40px;
  line-height: 40px;
}


.dropdown-box a:hover{
  background-color : #D4F4FA
}

.dropdown:hover .dropdown-box {
  display: block;
}
