/* ---------------category.jsp--------------- */

.header_bottom{
	height: 80px;
	min-width: 800px;
	border-bottom: 1px solid #999;
	display: flex;
    align-items: center;
    justify-content: center;
}

 
.cate-list li {
	height: 50px;
	width: 110px;
	border: 1px solid black;
	line-height: 50px;
	margin: auto 20px;
}

.dropdown {
  position : relative;
  display : block-inline;
}

.dropdown-box {
  display : none;
  position : absolute;
  z-index : 1; /*다른 요소들보다 앞에 배치*/
  font-weight: 400;
  background-color: #f9f9f9;
  min-width : 110px;
}

.dropdown-box a {
  display : block;
  text-decoration : none;
  color : rgb(37, 37, 37);
  font-size: 12px;
  height: 40px;
  line-height: 40px;
}


.dropdown-box a:hover{
  background-color : #ececec
}

.dropdown:hover .dropdown-box {
  display: block;
}
